.wrapper{
    margin:5px;
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}
.image_container{
   margin-top: 30px;
   width: 100px;
   height: 600px;
}

.image_container-main{
    margin-top: 30px;
    width: 500px;
    height: 600px;
 }

.slide_image{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit:cover;
}